h1 パスワード再設定について

p 下記へアクセスし、パスワードを再設定してください。

= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token, email: @user.email)

p このリンクは、2時間後に有効期限が切れます。
p このメールに見覚えのない場合はお手数ですが破棄してください。

p 発行元：Elily
