// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  padding-top: 50px;
}

.bg-img {
  background: url(top.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bg-brack {
  background-color: rgba(0,0,0,0.7);
  height: 500px;
}


.container_pop {
  background-color: rgb(113, 116, 112)
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
}

#user-info {
  img{
    background-size: auto;
    width: 200px;
    height: 200px;
  }
}
