// Custom bootstrap variables must be set or imported *before* bootstrap.
/*
*= require simple_calendar
*/
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 45px;
  a {
    color: #6c6c6c;
  }
}

.ranking-font {
  font-size: 13px;
}

.navbar {
  height: 45px;
  background-color: rgb(164, 164, 164);
}

.header-icon  {
  font-size: 1.2em
}

.bg-img {
  background: url(top.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bg-brack {
  background-color: rgba(0,0,0,0.7);
  height: 500px;
}

.container_pop {
  background-color: rgb(113, 116, 112)
}

.top-bg {
  border-bottom: dashed;
  border-color: rgb(115, 115, 115);
}

.font-weight {
  font-weight:bold;
  color: rgb(115, 115, 115);
  border-bottom: double;
}

.row-5 {
  height: calc( 1.3em * 5 );
  line-height: 1.3;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.follow-btn {
  width: 100px;
  background-color: #fff;
  color: rgb(10, 19, 140);
  border: 2px solid #3c4fb3;
  &:hover {
    background-color: #bdfff9;
    color: rgb(10, 19, 140);
    border: 2px solid #3c4fb3;
  }
}
.unfollow-btn {
  width: 100px;
  background-color: rgb(114, 93, 214);
  color: #fff;
  border: 2px solid rgb(10, 19, 140);
  &:hover {
    border-color: #2ac3d2;
    color: #fff;
  }
}

.stats {
  font-size: small;
  overflow: auto;
  margin-top: 15px;
  padding: 0;
  display: flex;
   justify-content: center;
  a {
    padding: 0 20px;
    border-left: 1px solid rgb(167, 150, 118);
    color: gray;
    &:first-child {
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.card-image img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

#error_explanation {
  color: red;
}

#user-info {
  img{
    background-size: auto;
    width: 80px;
    height: 80px;
  }
}

#comment-wrapper {
  .user-image img {
    width: 40px;
    height: 40px;
  }
  .comment-content {
    position: relative;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 18px;
    margin-top: 3px;
    max-width: 500px;
  }
}

#form-comment-wrapper {
  .comment-btn {
    background-color:  rgb(159, 21, 208);
    color: #fff;
    font-size: 10px;
  }

}
.sticky {
  position: sticky;
  bottom:  0px;
  width: 50%;
}

#unlike-btn{
  color: #32cd32;
}

.fav-img, .unfav-img {
  opacity: 0.7;
}

.fav-img:hover, .unfav-img:hover {
  opacity: 1;
  cursor: pointer;
}

.tag-btn {
  margin-left: 3px;
  cursor: pointer;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}


.calendar-text {
  font-size: 14px;
  overflow: auto;
  justify-content: center;
  a {
    color: rgb(22, 181, 66);
    &:hover {
      text-decoration: none;
      color: rgb(233, 36, 198);
    }
  }
}

#card-image {
  .user-image img {
    width: 30px;
    height: 30px;
  }
  .micropost-image img {
    width: 175px;
    height: 100px;
    object-fit: cover;
  }
}

.pickup_avatar {
  img {
    width: 75px;
    height: 75px;
  }
}

.badge-size {
  font-size: 15px;
}

.user-bg {
  background-color: rgb(219, 219, 219);
}

.like-btn {
  color: #ff9aef;
}

.card-title-text a {
  color: rgb(107, 107, 107);
}

.ranking-border {
  border-right: dotted rgb(107, 107, 107);
}

.follow-align {
  text-align:  center;
}
